body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg,
      #eee1d7 0%,
      #d3bca8 50%,
      #9b775a 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle,
      rgba(111, 78, 55, 0.15) 0%,
      transparent 70%);
  top: -200px;
  right: -200px;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.brand {
  font-size: 20px;
  font-weight: 600;
  color: #4e342e;
}

.nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #5c4033;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.nav-links a.active {
  background-color: #6f4e37;
  color: white;
}


.nav-links a:hover {
  background-color: #6f4e37;
  color: white;
  transform: translateY(-2px);
}


.container {
  width: 850px;
  background: #FAF9F6;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(85, 68, 68, 0.08);
}

h1 {
  text-align: center;
  color: #583124;
  /* deep coffee */
  margin-bottom: 35px;
}

.input-section {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

input {
  padding: 10px;
  width: 60%;
  border: 1px solid #d7ccc8;
  border-radius: 6px;
  font-size: 14px;
  color: #000000;
}

button {
  padding: 10px 16px;
  background-color: #6f4e37;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #5d4037;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 12px;
  background-color: #efebe9;
  color: #4e342e;
  font-weight: 600;
}

td {
  padding: 12px;
  color: #333;
  border-bottom: 1px solid #eee;
}

.actions button {
  margin-right: 8px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.post-card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(111, 78, 55, 0.2);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: all 0.25s ease;
}

.post-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
  border-color: rgba(111, 78, 55, 0.4);
}


.post-card h3 {
  margin: 0 0 10px 0;
  color: #4e342e;
}

.author {
  font-size: 14px;
  color: #6d4c41;
  margin-bottom: 6px;
}

.date {
  font-size: 12px;
  color: #999;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

